.card-wrapper {
  /* border: 2px solid; */
  /* border-radius: 1em; */
  margin: 1em;
  padding: 3em;
  /* display: flex; */
  width: 300px;
}
.skills-container {
  overflow: scroll;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.skills-container::-webkit-scrollbar {
  display: none;
}

.skills {
  padding: 0.4em;
  margin: 0.2em;
  /* border: 1px solid black; */
  /* border-radius: 0.8em; */
}

.score-pill {
  /* border: 1px solid black; */
  padding: 2px;
  margin: 5px;
  /* border-radius: 10px; */
}
