.profile-screen-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.blog-p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
  color: black;
}

.score-pill {
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
  border-radius: 10px;
}

.msg-btn {
  background-color: rgb(79, 120, 207);
  color: white;
  border: 0px;
  padding: 0.5em 1em;
  border-radius: 5px;
  position: sticky;
  bottom: 0;
}

/*
.card-wrapper {
  width: auto;
  border: 2px solid;
  border-radius: 1em;
  padding: 3em;
}
.skills-container {
  overflow: scroll;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.skills-container::-webkit-scrollbar {
  display: none;
}

.skills {
  padding: 0.4em;
  margin: 0.2em;
  border: 1px solid black;
  border-radius: 0.8em;
} */
